
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-text {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
}

#main-header-text {
  color: black;
  text-align: center;
  padding-left: 50px;
}

.book-icon {
  width: 100%;
  text-align: center;
}

#storeBooks {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.minus-icon-container {
  text-align: center;
}

.minus-icon {
  width: 100%;
  text-align: center;
}

.new-book-section {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px;
  color: #e23c52;
}

#newBook {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-book-section input {
  min-width: 70%;
  margin: 10px auto;
  height: 25px;
}

.new-book-section button {
  margin-right: 15%;
  align-self: flex-end;
}

.new-book-text {
  color: #000;
}

#addBook {
  background-color: white;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

#storeBooks form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}

#storeBooks form:nth-child(odd) {
  background-color: silver;
}

#storeBooks form p {
  margin: 5px;
}

hr {
  max-width: 30%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
