
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-text {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKq4LrGopvu6bwW3lN6mjU-SjBLASeIEk4Ew&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000;
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
}

#main-header-text {
  color: black;
  text-align: center;
  padding-left: 50px;
}

.book-icon {
  width: 100%;
  text-align: center;
}

#storeBooks {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.minus-icon-container {
  text-align: center;
}

.minus-icon {
  width: 100%;
  text-align: center;
}

.new-book-section {
  text-align: center;
  border: 2px solid black;
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: #bdfff6;
  color: #e23c52;
}

.new-book-text {
  color: #000;
}

#addBook {
  background-color: #bdfff6;
  color: #e23c52;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}